api_server: "http://192.168.1.2:8080/" # Deep detect api
base_url: "http://192.168.1.164:4000/" ### live preview stream url
stream_url: "http://192.168.1.2:88/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=&pwd=" ## Jpeg stream
# Openhab
vehicle_item: "Camera1VehicleDetection" 
person_item: "Camera1HumanDetection"
openhab_url: "http://openhabianpi:8080"